*{
    margin: 0;
    padding:0;
    } 

    @font-face {
        font-family: 'vogueregular';
        src: url('vogue-webfont.woff2') format('woff2'),
             url('vogue-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    
    }
    
    
    a {
        text-decoration: none;
        color: black
        }

        a:active /* Quand le visiteur clique sur le lien */ {
            background-color: #404040;
            color:white
            }
    
@font-face {
    font-family: 'apple_garamond_lightregular';
    src: url('applegaramond-light-webfont.woff2') format('woff2'),
         url('applegaramond-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




body
{
    height: 1600px;
    display: flex;
    flex-flow: row nowrap;
        
}


p
{
font-family:'apple_garamond_lightregular' ;
}

/*partie gauche */

#cvgauche
{
    background-color: #FECA07;
    width:350px;
    height:1920px;
    font-size: 130%;
}

.picture
{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #DAAF12;
    background-color:#DAAF12; ;
    margin-left: 20%;
    margin-bottom: 10%;
    margin-top: 5%;


}

#photo
{
    width: 350px;
    height: auto;
    margin-left: -37%;
    margin-top: -8%;
    margin-bottom: 10%;
       
}

#contact
{
    height:500px
}

#contact p

{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}

#apropos p
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30%;
}

#apropos
{

    margin-top: 5px;
    height: 700px
}


#loisir
{
    margin-top: 79%;
}

#vignette
{
display: flex;
justify-content: space-around;
padding-top: 10%;
}

h1
{
    background-color:#404040;
    color: #FECA07;
    text-align: center;
    font-size: 180%;
    font-family:"vogueregular" ;
}




/* partie droite */

#cvdroit
{

    align-content: center;
    justify-content:flex-start;
    flex-direction: column;

}
#cvdroit
{
    height: 1600px;
    width: 70%;
font-size: 130%
}

header
{
    text-align: left;
    font-size: 150%;
    text-align: justify;
    padding-top: 7%;
    font-family:"vogueregular" ;
    height: 15vh;
    padding-left: 5%;
 
}

header h2 span
{
    color:#FECA07
}
header p span
{
    text-decoration: underline #FECA07  ;
}

header p
{
    font-family:"vogueregular" ;  
}

h3
{
font-size: 150%;
margin-left: 7%;
margin-top: 2%;
font-family:"vogueregular" ;



}


#formation
{
margin-bottom: 5%;
}


#experience
{
  
}

#recommandations
{
   margin-top: 6%;
}

#formation p, #experience p 
{
    margin-right:20%
}


.underline
{
    border:1px #FECA07 solid;
    margin-left:5% ;
    margin-right: 5%;
}

h4
{
    font-family:"vogueregular" ;
}

.dates
{
    margin-top: 1.5%;
    margin-left: 2.5%;
}
.commentaires
{
margin-left: 30%
}

ul 
{
    list-style: none;
 
}



#texter
{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 2%;
}
  
